<h1>New Body Workout</h1>


<form action="/welcome" method='post'>
    <label>What Body Part Woudld You like to add </label>
    <input type='text' name='name'>
    <br>
    <%# <p>fill out the form for the workouts you want to add</p>
    <label>Workout 1</label>
    <input type='text' name='workout1'>
    <br>
    <label>Workout 2</label>
    <input type='text' name='workout2'>
    <br>
    <label>Workout 3</label>
    <input type='text' name='workout3'>
    <br> %>

    <input type='submit'>






</form>